button {
  background-color: #f4442e;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f2f3ae;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    color: #020122;
    background-color: #fc9e4f;
  }
}
